<!doctype html>
<title>IOT Quiz</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_miniquiz.css')}}'>
<div class=page>
  <h1>IOT Quiz</h1>
  <div class=metanav>

  
<h4>
Thank you for taking the quiz!
</h4>
<p>
Score: 
<label for="score" >{{summary["score"]}}</label> 
</p>
<p>
Correct answers: 
<label for="correcta" >{{summary["correct"]}}</label> 
</p>
<p>
Wrong answers: 
<label for="wronga" >{{summary["wrong"]}}</label> 
</p>
<p>
 <b>Question-1:</b> What is the use of the Ultrasonic Sensor?<br>'answer': 'Proximity Detection'<br><br><b>Question-2:</b>"How many pins are present in the Ultrasonic Sensor"<br><b>'answer': </b>'4'
<br><br><b>Question-3:</b> 'What mode should we put the Arduino pin to, in order for object detection to work with the Ultrasonic Sensor?'<br><b>'answer': </b>'Digital'<br><br>
<b>Question-4:</b> 'What will happen if we supply a voltage of 25V to the Vcc of the Ultrasonic sensor?'<br><b>'answer': </b>'Damage is caused'<br><br>
<b>Question-5:</b>'If 1 means an object is detected and 0 meaning no object is detected, then considering the
 sensor is stationary, what can be said about the movement of the object if the output by the sensor is 1010101?',<b>'answer':</b> "Object is oscillating side by side"<br><br>
<b>Question-6:</b>'What kind of waves does the Ultrasonic Sensor work on?'<br><b>'answer': </b>'Sound'<br><br>
<b>Question-7:</b>'What is the optimum current that is required to operate the Ultrasonic Sensor?'<br><b>'answer':</b> '15 mA'
</div>

